/*This is the website logo*/
.imageLogo{
    width: 60px;
    height: 50px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    min-width: 10em;
}



/* Header elements -------------------------*/
header{ /*Top of page including flag and navbar*/
    background-color: rgb(146, 157, 41);/* colour visualize*/
    padding: 10px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#navigation_section{
    background-color: rgb(170, 142, 192);/* colour visualize*/
    padding: 10px;
    margin-top: 5px;
}

nav{
    background-color: rgb(192, 188, 142);/* colour visualize*/
    border: 1px solid grey;
    min-width: 10em;
    display: flex;
    flex-wrap: wrap; /*Makes navigation elements not overlap when on smaller display*/
}

nav a{
    background-color: rgb(41, 157, 149);/* colour visualize*/
    margin: 10px;
    text-decoration: none;
    border: 1px solid grey;
    padding: 5px;
}

#image_home_logo_section{
    background-color: rgb(130, 97, 156);/* colour visualize*/
}
/* Header elements end ------------------------*/



/* Main content ------------------------*/
main{/*main content page*/
    display: flex;
    gap: 0.5em;
}

.paragraph_content{
    background-color: rgb(116, 118, 11);/* colour visualize*/
}

article{
    background-color: rgb(191, 178, 0);/* colour visualize*/
    padding: 1em;
    border: 1px solid grey;
    flex: 3;
}

aside{
    background-color: rgb(191, 178, 0);/* colour visualize*/
    padding: 1em;
    border: 1px solid grey;
    flex: 1;
}

/* Main content end ------------------------*/


footer{
    background-color: rgb(41, 89, 157);/* colour visualize*/
    padding: 10px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}



