/*This is the website logo*/
.imageLogo{
    width: 60px;
    height: 50px;
}

body{
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
}



/* Header elements -------------------------*/
header{ /*Top of page including flag and navbar*/
    background-color: rgb(146, 157, 41);/* colour visualize*/
    padding: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#navigation_section{
    background-color: rgb(130, 97, 156);/* colour visualize*/
    padding: 10px;
    border: 1px solid black;
    margin-top: 5px;
    max-width: 20em;
}

.navigation_element{
    background-color: rgb(41, 157, 149);/* colour visualize*/
    margin: 10px;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
}

#image_home_logo_section{
    background-color: rgb(130, 97, 156);/* colour visualize*/
}
/* Header elements end ------------------------*/



/* Main content ------------------------*/
main{/*main content page*/
    padding: 10px;
}

.paragraph_content{
    background-color: rgb(116, 118, 11);/* colour visualize*/
}

article{
    background-color: rgb(191, 178, 0);/* colour visualize*/
    padding: 1em;
    border: 1px solid black;
}

/* Main content end ------------------------*/


footer{
    background-color: rgb(41, 89, 157);/* colour visualize*/
    padding: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}



