/* main body containing all elements */
body {
    margin: 0;
    min-height: 50em; /*ensures the min height is constant*/

    display: flex;
    justify-content: center;

    font-family: sans-serif;
}

/* Foreground page*/
.pageForeground {
    background-color: #ffffff;
    color: #000000; /*text colour*/

    width: 900px; /*ensures the minimum width is the size of paper*/
    /* min-height: 100vh; */ 
    padding: 20px;
}

.imageLogo{
    width: 60px;
    height: 50px;
}