/*This is the website logo*/
.imageLogo{
    width: 60px;
    height: 50px;
}

body{
    padding-left: 5%;
    padding-right: 5%;
    
}



/* Header elements -------------------------*/
header{ /*Top of page including flag and navbar*/
    background-color: rgb(146, 157, 41);
    padding: 10px;
    border-bottom: 1px solid black;
}

#navigation_section{
    background-color: rgb(130, 97, 156);
    padding: 10px;
    border: 1px solid black;
    margin-top: 5px;
    max-width: 20em;
}

.navigation_element{
    background-color: rgb(41, 157, 149);
    margin: 10px;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
}

#image_home_logo_section{
    background-color: rgb(130, 97, 156);
}
/* Header elements end ------------------------*/



/* Main content ------------------------*/
main{/*main content page*/
    background-color: rgb(41, 157, 109);
    padding: 10px;
    border-bottom: 1px solid black;
}

.paragraph_content{
    background-color: rgb(116, 118, 11);
}
/* Main content end ------------------------*/



footer{
    background-color: rgb(41, 89, 157);
    padding: 10px;
}



